.wallet{
    background-color: grey;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    position: absolute;
    right: 15rem;
    top: 1rem;
}
.connect-wallet{
    background-color: grey;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    position: absolute;
    right: 4rem;
    top: 1rem;
}